<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/style.css}">
<head>
    <meta charset="UTF-8">
    <title>Trang Chủ - IT Career</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

<nav>
    <a href="index">Trang chủ</a>
    <a href="apply">Apply Form</a>
    <a href="contact">Contact</a>
</nav>

<div class="container">
    <h1>Các Mảng IT Tuyển Dụng</h1>
    <ul class="job-list">
        <li>1. Phát triển phần mềm (Software Development)</li>
        <li>2. Dữ liệu & Trí tuệ nhân tạo (Data & AI)</li>
        <li>3. Hạ tầng & Vận hành (Infrastructure & Operations)</li>
        <li>4. Bảo mật (Cyber Security)</li>
        <li>5. Quản lý & Kiểm thử (Management & QA)</li>
    </ul>

    <div class="cta-section">
        <a href="apply" class="btn-apply">ỨNG TUYỂN NGAY</a>

        <a href="contact.html" class="chairman-link">
            <img src="/avt.png" alt="Avatar Chủ tịch">
            <span>Facebook Chủ Tịch</span>
        </a>
    </div>
</div>

</body>
</html>